{% extends "base.html" %}



{% block meta %}

{% endblock %}

{% block body %}
<section class="flat-services mt-5 div-explications mb-5">
    <div class="container">
        <div class="flat-title flat-text-center">
            <h2 class="title">Contactez-nous !</h2>
            <p class="description">

            </p>
            <br>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="list-info text-justify">
                        <ul>
                          

                            <li class="address mb-3"><a href="#"><i class="fa fa-address-card"></i> Fann Hock ESP-DGI, Dakar, Senegal </a></li>
                            <li class="phone mb-3"><a href="#"><i class="fa fa-phone"></i> +221 77 828 54 15 </a></li>
                            <li class="mail mb-3"><a href="#"><i class="fa fa-envelope"></i> info@sama-collection.com </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 formulaire-contact">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <div class="form-group">
                                    <label for="nom">Prenom & Nom</label>
                                    <input type="text" style="color:black !important" name="nom" id="" class="form-control" placeholder="Entrez votre prenom et nom" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group text-left">
                                    <label for="nom">Email</label>
                                    <input type="email" style="color:black !important" name="varmail" placeholder="Entrez votre email" id="nom"
                                        class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="form-group col-md-12 text-left">
                                <label for="message" class="text-left">Message</label>
                                <textarea name="message" style="color:black !important" id="message" cols="30" required rows="10"
                                    placeholder="Entrez votre message..."></textarea>
                            </div>
                        </div>
                        <div class="row  float-right">
                            <div class="form-group ">
                                <button type="submit" disabled="true" class="flat-button btn-apply bouton-contact">Envoyer <i
                                        class="fa fa-send"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}