{% extends 'base.html' %}

{% block body %}

<div class="flat-slider style2">
    <div class="rev_slider_wrapper fullwidthbanner-container">
        <div id="rev-slider2" class="rev_slider fullwidthabanner" data-version="5.4.8">
            <ul>
                
                <li data-transition="random">
                    
                    <img src="{{asset('images/bg-images/bg-slider2.jpg')}}" alt="image" class="rev-slidebg"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                        data-bgparallax="15">
                    <div class="overlay"></div>

                   
                    <div class="tp-caption tp-resizeme font-weight-700  text-white"
                        style="font-family: 'Baloo Tamma 2', cursive; " data-x="['center','center','center','center']"
                        data-hoffset="['25','0','0','0']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-115','-110','-72','-72']" data-fontsize="['60','60','40','32']"
                        data-lineheight="['70','60','45','40']" data-width="full" data-height="none"
                        data-whitespace="normal" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                        data-splitin="none" data-splitout="none" data-textAlign="['left','center','center','center']"
                        data-paddingright="['380','0','0','0']" data-responsive_offset="on">Maîtrisez la <span
                            class="color-f3728b" data-fontsize="['50','50','40','32']"
                            data-lineheight="['70','60','45','28']">gestion </span> de vos collections de livres
                    </div>

                    <br><br>



                    <div class="tp-caption tp-resizeme mt-3 text-white" style="font-weight: lighter;"
                        data-x="['center','center','center','center']" data-hoffset="['30','-2','-2','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['20','-25','-27','27']"
                        data-fontsize="['20','20','16','14']" data-lineheight="['32','32','22','20']" data-width="full"
                        data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        data-textAlign="['left','center','center','center']" data-paddingright="['580','0','0','0']">

                       Virtualisez votre bibliotheque en y ajoutant toute sorte de collection et gradez trace de toute chose<span
                            class=" color-515e6f font-size-20 font-italic text-underline"
                            data-fontsize="['20','20','16','14']" data-lineheight="['32','32','22','20']">
                        </span> </div>

                    <div class="tp-caption mt-5 " data-x="['center','center','center','center']"
                        data-hoffset="['27','0','0','0']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['149','60','60','100']" data-width="full" data-height="none"
                        data-whitespace="normal" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        data-textAlign="['left','center','center','center']"><a href="{{path('dashboard')}}"
                            class="flat-button btn-start-slider border-ra4">Creer votre bibliothéque</a> </div>
                </li>
            </ul>
        </div>
    </div>
</div> 


<div class="flat-counter style2">
    <div class="wrap-counter">
        <div class="container">
            <div class="counters clear-sub-columns style2">
                <div class="counter style2 one-of-three">
                    <div class="overlay">
                        <img src="{{asset('bookflare/images/img-hover-1.png')}}" alt="image" class="img-hover-1">
                        <img src="{{asset('bookflare/images/img-hover-2.png')}}" alt="image" class="img-hover-2">
                    </div>
                    <div class="icon">
                        <span class="icon-online-learning">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                                class="path10"></span><span class="path11"></span><span class="path12"></span><span
                                class="path13"></span><span class="path14"></span><span class="path15"></span><span
                                class="path16"></span><span class="path17"></span><span class="path18"></span><span
                                class="path19"></span><span class="path20"></span><span class="path21"></span><span
                                class="path22"></span><span class="path23"></span><span class="path24"></span><span
                                class="path25"></span><span class="path26"></span><span class="path27"></span><span
                                class="path28"></span>
                        </span>
                    </div>
                    <div class="content">
                       
                        <h6 class="title color-2ba2db">Creer facilement des collections et ajoutez vos livres</h6>
                    </div>
                </div>
                <div class="counter style2  one-of-three active">
                    <div class="overlay">
                        <img src="{{asset('bookflare/images/img-hover-1.png')}}" alt="image" class="img-hover-1">
                        <img src="{{asset('bookflare/images/img-hover-2.png')}}" alt="image" class="img-hover-2">
                    </div>
                    <div class="icon">
                        <span class="icon-teacher">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                                class="path10"></span><span class="path11"></span><span class="path12"></span><span
                                class="path13"></span><span class="path14"></span><span class="path15"></span><span
                                class="path16"></span><span class="path17"></span><span class="path18"></span><span
                                class="path19"></span><span class="path20"></span><span class="path21"></span><span
                                class="path22"></span><span class="path23"></span><span class="path24"></span><span
                                class="path25"></span><span class="path26"></span><span class="path27"></span><span
                                class="path28"></span><span class="path29"></span><span class="path30"></span><span
                                class="path31"></span><span class="path32"></span><span class="path33"></span><span
                                class="path34"></span><span class="path35"></span><span class="path36"></span><span
                                class="path37"></span><span class="path38"></span><span class="path39"></span><span
                                class="path40"></span><span class="path41"></span><span class="path42"></span><span
                                class="path43"></span><span class="path44"></span><span class="path45"></span><span
                                class="path46"></span><span class="path47"></span><span class="path48"></span><span
                                class="path49"></span><span class="path50"></span>
                        </span>
                    </div>
                    <div class="content">
                     
                        <h6 class="title color-0dc9ac">Partagez avec vos amis vos livres et gardez en trace</h6>
                    </div>
                </div>
                <div class="counter style2  one-of-three">
                    <div class="overlay">
                        <img src="{{asset('bookflare/images/img-hover-1.png')}}" alt="image" class="img-hover-1">
                        <img src="{{asset('bookflare/images/img-hover-2.png')}}" alt="image" class="img-hover-2">
                    </div>
                    <div class="icon">
                        <span class="icon-education">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                                class="path10"></span><span class="path11"></span><span class="path12"></span><span
                                class="path13"></span><span class="path14"></span><span class="path15"></span><span
                                class="path16"></span><span class="path17"></span><span class="path18"></span><span
                                class="path19"></span><span class="path20"></span><span class="path21"></span><span
                                class="path22"></span><span class="path23"></span><span class="path24"></span><span
                                class="path25"></span><span class="path26"></span>
                        </span>
                    </div>
                    <div class="content">
                        
                        <h6 class="title color-f05455">Retrouvez facilement vos livres</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<section class="flat-services mt-5 div-explications">
    <div class="container">
        <div class="flat-title flat-text-center">
            <h2 class="title">Gestion de Collection</h2>
            <p class="description">


            </p>
        </div>
        <div class="flat-tabs ">
            <div class="text-center apercu-service">
                <ul class="tab-title clear-sub-columns  style5">
                    <li class="item-title one-of-four ">
                        <div class="iconbox style4 flat-text-center one">
                            <div class="iconbox-icon">
                                <span class="icon-portfolio-1">
                                    <span class="path1"></span><span class="path2"></span><span
                                        class="path3"></span><span class="path4"></span><span class="path5"></span><span
                                        class="path6"></span><span class="path7"></span><span class="path8"></span><span
                                        class="path9"></span><span class="path10"></span><span
                                        class="path11"></span><span class="path12"></span><span
                                        class="path13"></span><span class="path14"></span><span
                                        class="path15"></span><span class="path16"></span><span class="path17"></span>
                                </span>
                            </div>
                            <div class="iconbox-content">
                                <h6 class="title"><a href="#">Creation de bibliotheque virtuelle</a></h6>
                            </div>
                        </div>
                    </li>

                    <li class="item-title one-of-four">
                        <div class="iconbox style4 flat-text-center two">
                            <div class="iconbox-icon">
                                <span class="icon-portfolio-1">
                                    <span class="path1"></span><span class="path2"></span><span
                                        class="path3"></span><span class="path4"></span><span class="path5"></span><span
                                        class="path6"></span><span class="path7"></span><span class="path8"></span><span
                                        class="path9"></span><span class="path10"></span><span
                                        class="path11"></span><span class="path12"></span><span class="path13"></span>
                                </span>
                            </div>
                            <div class="iconbox-content">
                                <h6 class="title"><a href="#">Gestion des collections</a></h6>
                            </div>
                        </div>
                    </li>

                    <li class="item-title one-of-four">
                        <div class="iconbox style4 flat-text-center three">
                            <div class="iconbox-icon">
                                <span class="icon-contract-1 ">
                                    <span class="path1"></span><span class="path2"></span><span
                                        class="path3"></span><span class="path4"></span><span class="path5"></span><span
                                        class="path6"></span><span class="path7"></span><span class="path8"></span><span
                                        class="path9"></span><span class="path10"></span><span
                                        class="path11"></span><span class="path12"></span><span class="path13"></span>
                                </span>
                            </div>
                            <div class="iconbox-content">
                                <h6 class="title"><a href="#">Gestion des livres</a></h6>
                            </div>
                        </div>
                    </li>

                    <li class="item-title one-of-four">
                        <div class="iconbox style4 flat-text-center four ">
                            <div class="iconbox-icon">
                                <span class="icon-contract-1"><span class="path1"></span><span
                                        class="path2"></span><span class="path3"></span><span class="path4"></span><span
                                        class="path5"></span><span class="path6"></span><span class="path7"></span><span
                                        class="path8"></span><span class="path9"></span><span
                                        class="path10"></span><span class="path11"></span><span
                                        class="path12"></span><span class="path13"></span><span
                                        class="path14"></span></span>
                            </div>
                            <div class="iconbox-content">
                                <h6 class="title"><a href="#">Traçage des livres</a></h6>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
            <div class="tab-content-wrap ">
                <div class="tab-content box-shadow ">
                    <div class="item-content clearfix">
                        <div class="img flat-text-center">
                            <img src="{{asset('images/bg-images/img-tab.png')}}" alt="image">
                        </div>
                        <div class="text-wrap img-right clearfix">
                            <h4 class="title"><a href="#">Présentation...</a></h4>
                            <p class="text">
                                Avec Sama-Collection creez une bibliothéque virtuelle telle que vous l'auriez en physique avec une classification de vos livres que vous y avez ajouté.
                                Vous pouvez partager vos livres avec vos amis et camarades tout en gardant une trace de ces livres.
                                Vous pouvez aussi effectuer des recherches ciblées dans votre bibliothéque
                            </p>
                            <div class="wrap-btn">
                                <a href="#" class="flat-button btn-start-slider">Voir <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content box-shadow ">
                    <div class="item-content clearfix">
                        <div class="img flat-text-center">
                            <img src="{{asset('images/bg-images/img-tab.png')}}" alt="image">
                        </div>
                        <div class="text-wrap img-right clearfix">
                            <h4 class="title"><a href="#">Présentation...</a></h4>
                            <p class="text">
                                Avec Sama-Collection creez une bibliothéque virtuelle telle que vous l'auriez en physique avec une classification de vos livres que vous y avez ajouté.
                                Vous pouvez partager vos livres avec vos amis et camarades tout en gardant une trace de ces livres.
                                Vous pouvez aussi effectuer des recherches ciblées dans votre bibliothéque
                            </p>
                            <div class="wrap-btn">
                                <a href="#" class="flat-button btn-start-slider">Voir <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content box-shadow ">
                    <div class="item-content clearfix">
                        <div class="img flat-text-center">
                            <img src="{{asset('images/bg-images/img-tab.png')}}" alt="image">
                        </div>
                        <div class="text-wrap img-right clearfix">
                            <h4 class="title"><a href="#">Présentation...</a></h4>
                            <p class="text">
                                Avec Sama-Collection creez une bibliothéque virtuelle telle que vous l'auriez en physique avec une classification de vos livres que vous y avez ajouté.
                                Vous pouvez partager vos livres avec vos amis et camarades tout en gardant une trace de ces livres.
                                Vous pouvez aussi effectuer des recherches ciblées dans votre bibliothéque
                            </p>
                            <div class="wrap-btn">
                                <a href="#" class="flat-button btn-start-slider">Voir <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content box-shadow ">
                    <div class="item-content clearfix">
                        <div class="img flat-text-center">
                            <img src="{{asset('images/bg-images/img-tab.png')}}" alt="image">
                        </div>
                        <div class="text-wrap img-right clearfix">
                            <h4 class="title"><a href="#">Présentation...</a></h4>
                            <p class="text">
                                Avec Sama-Collection creez une bibliothéque virtuelle telle que vous l'auriez en physique avec une classification de vos livres que vous y avez ajouté.
                                Vous pouvez partager vos livres avec vos amis et camarades tout en gardant une trace de ces livres.
                                Vous pouvez aussi effectuer des recherches ciblées dans votre bibliothéque
                            </p>
                            <div class="wrap-btn">
                                <a href="#" class="flat-button btn-start-slider">Voir <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div> 
    </div>
</section> 


<section class="flat-popular-courses style2">
    <div class="container">
        <div class="flat-title flat-text-center">
            <h2 class="title">Sama-Collection</h2>
            <p class="description text-justify">
                Sama-Collection est une application de gestion de collection de livres qui permet de virtualiser une bibliothéque physique et de simuler son fonctionnement.
                Sama-Collection est developpée par un groupe d'étudiants dans le cadre d'un projet d'etude et en ces moments Sama-Collection est en version Béta.
                Sama-Collection permet de remedier aux pertes de vos livres suite à un pret en ayant plus trace de ce livre.
                Sama-Collection permet aussi d'organiser sa bibliotheque en en collection et de pouvoir faire des recherches ciblées dessus.
            </p>

        </div> 
        <div class="flat-courses clear-sub-columns clearfix isotope-courses style2">
            <div class="course style5 v1 ">
                <div class="course-border transition-vline">
                    <div class="course-img img-vline">
                        <a href="#"><img src="{{asset('images/bg-images/team2.jpg')}}" alt="image"></a>
                        <div class="overlay">
                            <span class="vline"></span>
                            <span class="vline vline-bottom"></span>
                        </div>
                    </div>
                    <div class="course-content">
                        <div class="text-wrap ">
                            <div class="wrap-rating">
                         
                            </div>
                            <p class="teacher"><a href="#"></a></p>
                            <h6 class="title"><a href="#">À propos de nous</a></h6>
                            <p class="description">Nous sommes une équipe de jeunes composée d'étudiant chacun avec des specialiatés et des 
                                qualifications spécifiques. C'est cette diversité qui fait qu'on arrive à mettre en oeuvre certaines solution avec 
                                un travail de qualité. Et nous avons formé cette Start-up Sama-Collection que nous preveyons de promouvoir à une echelle plus large que le cadre d'un projet d'etude
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div> 
            <div class="course style5 v2">
                <div class="widget-subscribe flat-text-center">
                    <h4 class="widget-title ">Inscrivez vous à notre newsletter </h4>
                    <p class="text">Et soyez informés de nos dernières actualités et améliorations </p>
                    <p class="over font-Freestyle">Plus de </p>
                    <p class="wrap-over"><span class="count  font-Freestyle">50</span> <span class="free">utilisateurs
                            abonnés à notre newsletter</span></p>
                    <div class="wrap-description">
                        <p class="description">Avec Sama-Collection, collectionnez et retracez</p>
                    </div>
                    <div class="wrap-form-subscribe">
                        <form action="" method="post">
                            <input type="email" name="email" required placeholder="Entrez votre email" />
                            <button type="submit" class="btn-send flat-button v2">S'inscrire</button>

                        </form>

                    </div>

                </div> 
            </div> 
            

        </div> 
    </div>
</section>

{% if not app.user %}
<section class="flat-popular-courses style2 v2">
    <div class="container">
        <div class="flat-title flat-text-center effect-animation" data-animation="zoomIn" data-animation-delay="0"
            data-animation-offset="75%">
            <h2 class="title">Quelques livres ajoutés par nos utlisateurs</h2>
            <p class="description">Ajoutez vos livres tres simplement à vos differentes collection et retrouvez les facilement</p>
        </div> 
        <div class="flat-courses clear-sub-columns clearfix isotope-courses style2">
            <div class="course style2 one-of-three text-2ebd59 effect-animation" data-animation="zoomIn"
                data-animation-delay="0.2s" data-animation-offset="75%">
                <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                    <div class="course-img img-vline">
                        <a href="#"><img src="{{asset('images/livres/senghor.jpg')}}" style="height:400px !important; width:400px !important" alt="sama-collection"></a>
                        <div class="overlay">
                            <span class="vline"></span>
                            <span class="vline vline-bottom"></span>
                        </div>
                    </div>
                    <div class="course-content">
                        <div class="text-wrap border-bt-e6f3ff">
                            <h6 class="title"><a href="#">Comprendre Senghor</a></h6>
                            <p class="teacher"><a href="#">Waly Faye</a></p>
                            
                        </div>
                       
                    </div>
                </div>
            </div> 
            <div class="course style2 one-of-three text-ea0042 effect-animation" data-animation="zoomIn"
                data-animation-delay="0.4s" data-animation-offset="75%">
                <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                    <div class="course-img img-vline">
                        <a href="#"><img src="{{asset('images/livres/platon.jpeg')}}"  style="height:400px !important; width:400px !important" alt="sama-collection"></a>
                        <div class="overlay">
                            <span class="vline"></span>
                            <span class="vline vline-bottom"></span>
                        </div>
                    </div>
                    <div class="course-content">
                        <div class="text-wrap border-bt-e6f3ff">
                            <h6 class="title"><a href="#">Apologie de Socrate</a></h6>
                            <p class="teacher"><a href="#">Platon</a></p>
                          
                        </div>
                       
                    </div>
                </div>
            </div> 
            <div class="course style2 one-of-three text-c100ea effect-animation" data-animation="zoomIn"
                data-animation-delay="0.6s" data-animation-offset="75%">
                <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                    <div class="course-img img-vline">
                        <a href="#"><img src="{{asset('images/livres/python.jpg')}}"  style="height:400px !important; width:400px !important" alt="sama-collection"></a>
                        <div class="overlay">
                            <span class="vline"></span>
                            <span class="vline vline-bottom"></span>
                        </div>
                    </div>
                    <div class="course-content">
                        <div class="text-wrap border-bt-e6f3ff">
                            <h6 class="title"><a href="#">Python et Django</a></h6>
                            <p class="teacher"><a href="#">Pierre Alexis</a></p>
                            
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</section> 
{% else %}
    {% if books %}
    <section class="flat-popular-courses style2 v2">
        <div class="container">
            <div class="flat-title flat-text-center effect-animation" data-animation="zoomIn" data-animation-delay="0"
                data-animation-offset="75%">
                <h2 class="title">Certains de vos livres </h2>
                <p class="description">Ajoutez vos livres tres simplement à vos differentes collection et retrouvez les facilement</p>
            </div> 
            <div class="flat-courses clear-sub-columns clearfix isotope-courses style2">
               
               {% for book in books %}
               <div class="course style2 one-of-three text-2ebd59 effect-animation" data-animation="zoomIn"
                    data-animation-delay="0.2s" data-animation-offset="75%">
                    <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                        <div class="course-img img-vline">
                            <a href="#"><img src="{{asset('images/livres/' ~ book.image)}}" style="height:400px !important; width:400px !important" alt="sama-collection"></a>
                            <div class="overlay">
                                <span class="vline"></span>
                                <span class="vline vline-bottom"></span>
                            </div>
                        </div>
                        <div class="course-content">
                            <div class="text-wrap border-bt-e6f3ff">
                                <h6 class="title"><a href="#">{{book.titre}}</a></h6>
                                <p class="teacher"><a href="#">{{book.auteur}}</a></p>
                                
                            </div>
                            
                        </div>
                    </div>
                 </div> 
               {% endfor %}
                
            </div> 
        </div>
    </section> 
        {% else %}
        <section class="flat-popular-courses style2 v2">
            <div class="container">
                <div class="flat-title flat-text-center effect-animation" data-animation="zoomIn" data-animation-delay="0"
                    data-animation-offset="75%">
                    <h2 class="title">Quelques livres ajoutés par nos utlisateurs</h2>
                    <p class="description">Ajoutez vos livres tres simplement à vos differentes collection et retrouvez les facilement</p>
                </div> 
                <div class="flat-courses clear-sub-columns clearfix isotope-courses style2">
                    <div class="course style2 one-of-three text-2ebd59 effect-animation" data-animation="zoomIn"
                        data-animation-delay="0.2s" data-animation-offset="75%">
                        <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                            <div class="course-img img-vline">
                                <a href="#"><img src="{{asset('images/livres/senghor.jpg')}}" style="height:400px !important; width:400px !important" alt="sama-collection"></a>
                                <div class="overlay">
                                    <span class="vline"></span>
                                    <span class="vline vline-bottom"></span>
                                </div>
                            </div>
                            <div class="course-content">
                                <div class="text-wrap border-bt-e6f3ff">
                                    <h6 class="title"><a href="#">Comprendre Senghor</a></h6>
                                    <p class="teacher"><a href="#">Waly Faye</a></p>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div> 
                    <div class="course style2 one-of-three text-ea0042 effect-animation" data-animation="zoomIn"
                        data-animation-delay="0.4s" data-animation-offset="75%">
                        <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                            <div class="course-img img-vline">
                                <a href="#"><img src="{{asset('images/livres/platon.jpeg')}}"  style="height:400px !important; width:400px !important" alt="sama-collection"></a>
                                <div class="overlay">
                                    <span class="vline"></span>
                                    <span class="vline vline-bottom"></span>
                                </div>
                            </div>
                            <div class="course-content">
                                <div class="text-wrap border-bt-e6f3ff">
                                    <h6 class="title"><a href="#">Apologie de Socrate</a></h6>
                                    <p class="teacher"><a href="#">Platon</a></p>
                                  
                                </div>
                               
                            </div>
                        </div>
                    </div> 
                    <div class="course style2 one-of-three text-c100ea effect-animation" data-animation="zoomIn"
                        data-animation-delay="0.6s" data-animation-offset="75%">
                        <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                            <div class="course-img img-vline">
                                <a href="#"><img src="{{asset('images/livres/python.jpg')}}"  style="height:400px !important; width:400px !important" alt="sama-collection"></a>
                                <div class="overlay">
                                    <span class="vline"></span>
                                    <span class="vline vline-bottom"></span>
                                </div>
                            </div>
                            <div class="course-content">
                                <div class="text-wrap border-bt-e6f3ff">
                                    <h6 class="title"><a href="#">Python et Django</a></h6>
                                    <p class="teacher"><a href="#">Pierre Alexis</a></p>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </section> 
    {% endif %}    
{% endif %}




<section class="flat-testimonials style1 effect-animation" data-animation="pulse" data-animation-delay="0"
    data-animation-offset="75%">
    <div class="container">
        <div class="flat-title flat-text-center">
            <h2 class="title">Ce que nos utilisateurs disent </h2>
            <p class="description">Sama-Collection est en version beta mais l'application est déja bien appréciée par les utilisateurs. Et voila ce qu'ils  en disent </p>
        </div>
        <div class="flat-carousel" data-column="2" data-column2="1" data-loop="true" data-column3="1" data-gap="30"
            data-dots="true" data-nav="false">
            <div class="wrap-testimonials clearfix owl-carousel">
                <div class="testimonial clearfix">
                    <div class="wrap-avata-socails flat-text-center">
                        <div class="avata">
                            <a href="#"><img src="{{asset('bookflare/images/testimonials/avata-index-2.png')}}" alt="bookflare"></a>
                        </div>
                    
                    </div>
                    <div class="wrap-content">
                        <div class="info">
                            <h4 class="name"><a href="#">Mamadou Diop</a></h4>
                            <p class="position">Etudiant</p>
                        </div>
                        <blockquote>
                           Sama-Collection est une excellente application, grace à elle je n'achéte plus de livre deux fois et j'ai toujours trace de ceux-ci
                        </blockquote>
                    </div>
                </div>
                <div class="testimonial clearfix top-110">
                    <div class="wrap-avata-socails  flat-text-center">
                        <div class="avata">
                            <a href="#"><img src="{{asset('bookflare/images/testimonials/avata-index-2.png')}}" alt="bookflare"></a>
                        </div>
                        
                    </div>
                    <div class="wrap-content">
                        <div class="info">
                            <h4 class="name"><a href="#">Fatou Ngom</a></h4>
                            <p class="position">bibliothecaire</p>
                        </div>
                        <blockquote>
                           Grace à Sama-Collection j'ai pu virtualiser ma bibliotheque physique et je m'y retrouve facilement. 
                        </blockquote>
                    </div>
                </div>
                <div class="testimonial clearfix">
                    <div class="wrap-avata-socails flat-text-center">
                        <div class="avata">
                            <a href="#"><img src="{{asset('bookflare/images/testimonials/avata-index-2.png')}}" alt="bookflare"></a>
                        </div>
                        {# <div class="socails">
                            <ul class="list">
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div> #}
                    </div>
                    <div class="wrap-content">
                        <div class="info">
                            <h4 class="name"><a href="#">François Coly</a></h4>
                            <p class="position">Etudiant</p>
                        </div>
                        <blockquote>
                           Sama-Collection est une excellente application, grace à elle je n'achéte plus de livre deux fois et j'ai toujours trace de ceux-ci
                        </blockquote>
                    </div>
                </div>
                <div class="testimonial clearfix">
                    <div class="wrap-avata-socails flat-text-center">
                        <div class="avata">
                            <a href="#"><img src="{{asset('bookflare/images/testimonials/avata-index-2.png')}}" alt="bookflare"></a>
                        </div>
                        {# <div class="socails">
                            <ul class="list">
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div> #}
                    </div>
                    <div class="wrap-content">
                        <div class="info">
                            <h4 class="name"><a href="#">Arame Tall</a></h4>
                            <p class="position">Etudiante</p>
                        </div>
                        <blockquote>
                           Sama-Collection est une excellente application, grace à elle je n'achéte plus de livre deux fois et j'ai toujours trace de ceux-ci
                        </blockquote>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section> <!-- flat-testimonials -->

{% endblock %}