{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('new_css/login.css')}}">
{% endblock %}

{% block body %}
<section class="flat-register-now">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 effect-animation" data-animation="fadeInLeft" data-animation-delay="0.6s" data-animation-offset="75%">
                <div class="wrap-form flat-text-center">
                    <p class="free">Vous avez déja un compte ?  <a href="#">Connectez-vous !</a></p>
                    <div class="heading">
                        <h6 class="title"> Connexion</h6>
                        <p class="description"></p>
                    </div>
                    {% if isForLogin and error %}
                         <div class="alert alert-danger">{{error.messageKey|trans(error.messageData, 'security')}}</div>
                    {% endif %}
                    <form action="{{path('security_login')}}" method="POST">
                        
                        {% if isForLogin  %}
                            <div class="wrap-input">
                                <input type="text" name="_username" value="{{lastUsername}}"  placeholder="Votre email">
                            </div>
                            
                         {% else %}
                            <div class="wrap-input">
                                <input type="text" name="_username"  placeholder="Votre email">
                            </div>
                    {% endif %}
                        <div class="wrap-input">
                            <input type="password" name="_password" placeholder="Votre mot de passe">
                        </div>
                       
                        <div class="wrap-btn">
                            <button type="submit" class="flat-button btn-apply">Connexion</button>
                        </div>
                        {# <p class="free mt-4">Mot de passe oublié ?
                             <a href="{{path('reset_password')}}">Cliquez ici !</a>
                        </p> #}

                    </form>
                </div>   
            </div>
            <div class="col-lg-7 effect-animation" data-animation="fadeInRight" data-animation-delay="0.8s" data-animation-offset="75%">
                <div class="wrap-form flat-text-center">
                    <p class="free">Vous n'avez pas encore de compte ? <a href="#">Inscrivez vous !</a></p>
                    <div class="heading">
                        <h6 class="title"> Inscription </h6>
                        <p class="description">Toutes vos données personnelles sont bien sécurisées</p>
                    </div>
                    {{form_start(form , {'action' : path('security_register'), 'method':'POST' })}}
                        <div class="row">
                            <div class="col-md-6">
                                <span class="formulaire-erreurs text-left">
                                    {{form_errors(form.prenom)}}
                                </span>
                                <div class="wrap-input">
                                    {{form_widget(form.prenom)}}
                                </div>
                            
                            </div>
                            <div class="col-md-6">
                                <span class="formulaire-erreurs text-left">
                                    {{form_errors(form.nom)}}
                                </span>
                                <div class="wrap-input">
                                    {{form_row(form.nom)}}
                                    
                                </div>

                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-6">
                                <span class="formulaire-erreurs text-left">
                                    {{form_errors(form.email)}}
                                </span>
                                <div class="wrap-input">
                                    {{form_widget(form.email)}}
                                    
                                </div>

                            </div>

                            <div class="col-md-6">
                                <span class="formulaire-erreurs text-left">
                                    {{form_errors(form.numtel)}}
                                </span>
                                <div class="wrap-input">
                                    {{form_widget(form.numtel)}}
                                </div>
                            
                            </div>
                        </div>
                     
                        <div class="row">
                            <div class="col-md-6">
                                <span class="formulaire-erreurs text-left">
                                    {{form_errors(form.password)}}
                                </span>
                                <div class="wrap-input">
                                    {{form_widget(form.password)}}
                                </div>
                            
                            </div>
                            <div class="col-md-6">
                                <span class="formulaire-erreurs text-left">
                                    {{form_errors(form.confirmPassword)}}
                                </span>
                                <div class="wrap-input">
                                    {{form_widget(form.confirmPassword)}}
                                    
                                </div>

                            </div>
                        </div>
                        <div class="wrap-btn">
                            <button type="submit" class="flat-button btn-apply">Inscription</button>
                        </div>
                    {{form_end(form)}}
                   
                </div>   
            </div>
           
        </div>
    </div>

    <div class="message-flash" id="message-flash">
        {% for message in app.flashes('register_success') %}
        <div class="alert alert-dismissible show" id="appflash_register" role="alert">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p class="text-white" style="color:white !important;"></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section> 


{% endblock %}

{% block javascripts %}
<script>
    $(function () { setTimeout(function () { $('#message-flash').slideUp() }, 100) });

    var appflash = document.getElementById('appflash_register')
    if (appflash != null) {
        if (appflash.classList.contains('show')) {
            swal('Création de compte réussi!', 'Votre inscription sur Sama-Collection s\'est déroulée avec succés, veuillez vous connecter avec votre compte', 'success');
        }
    } 
</script>
{% endblock %}