{% extends "base.html" %}

{% block body %}

<section class="flat-title-page parallax parallax8 style4">
    <div class="overlay style2"></div>
    <div class="container wrap-title-page bg-img ">
        <div class="title-page">
          {% if not collection %}
            <h2 class="title font-weight-700"><a href="#">Tous vos livres</a></h2>
            {% else %}
            <h2 class="title font-weight-700"><a href="#">{{collection}}</a></h2>
          {% endif %}
            
        </div>
        <div class="breadcrumbs ">
            <ul>
                <li><a href="{{path('accueil')}}">Accueil</a></li>
                <li><a href="{{path('myBooks')}}">Livres</a></li>
            </ul>
        </div>
        <img src="{{asset('images/bg-images/bg-white.png')}}" alt="Sama-Collection" class="bg-breadcrumbs">
    </div>
</section>

<div class="content-wrap  courses-grid-v1-page">
    <div class="container-fluid">
        <div class="content-page-wrap">
            <ul class="flat-filter-isotype style1 text-center ">
            
             {% if not collection %}
                <li><a href="#" active data-filter=".livres" class="active" >Vos Livres </a></li>
                {% else %}
                <li><a href="#" active data-filter=".livres" class="active" >Vos livres de la collection {{collection}}</a></li>
                    
             {% endif %}
            
            </ul> 
            <div class="flat-courses clearfix isotope-courses">

                {% for book in books %}
                <div class="course one-of-four text-2ebd59 livres Design ">
                    <div class="course-border border-f-e6f3ff border-ra4 transition-vline">
                        <div class="course-img img-vline">
                            <a href="#"><img src="{{asset('images/livres/' ~ book.image)}}"
                                    alt="Sama-Collection" height="400px" width="400px" style="height: 400px !important; width:400px !important;"></a>
                            <div class="overlay">
                                <span class="vline"></span>
                                <span class="vline vline-bottom"></span>
                            </div>
                        </div>
                        <div class="course-content">
                            <div class="text-wrap border-bt-e6f3ff">
                                <h6 class="title"><a href="#">{{book.titre}}</a></h6>
                            
                            </div>
                           
                            <div class="wrap-rating-price mt-3">
                                <a href="" class="btn-learn-more">{{book.auteur}}</a>
                            </div>
                           
                        </div>
                    </div>
                </div> <!-- /.course -->
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}