<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR" lang="fr-FR">

<head>


    <title>Sama-Collection - Une application de gestion de livres</title>

    <meta name="author" content="Mouhammad Sylla Astou Lo Ibrahima Diop Lamine Sene">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="{{asset('bookflare/stylesheets/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bookflare/stylesheets/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bookflare/stylesheets/responsive.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bookflare/stylesheets/colors/color1.css')}}" id="colors">
    <link rel="stylesheet" type="text/css" href="{{asset('bookflare/revolution/css/layers.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bookflare/revolution/css/settings.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bookflare/stylesheets/animate.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/sweetalert.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/sweetalert-overrides.css')}}">
    <link rel="stylesheet" href="{{asset('new_css/base-custom.css')}}">
    <link rel="shortcut icon" href="{{asset('images/logo/main_logo.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{asset('images/logo/main_logo.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

</head>

<body class="bg-body3">
    <div class="boxed">
        <div class="top border-bt-d1d1ff style2">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="flat-info">
                            <ul>
                                <li class="info"><a href="#">Projet Developpement Web</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 pd-left-0">
                        <div class="flat-adds flat-text-right">
                            <p><span class="font-Roboto font-weight-700 underline-text"></span><span
                                    class="font-Hall font-weight-700 letter-spaceing-top">Application de gestion de livres </span><span
                                    class="font-Playfair font-weight-700 letter-spaceing-top"></span></p>
                            <p class="font-weight-700 "></p>
                        </div>
                        <div class="flat-action flat-text-right style1">
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#">Version beta</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="header" class="bg-fff style2">
            <div class="container">
                <div class="header-wrap clearfix">
                    <div id="logo">
                        <a href="{{path('accueil')}}"><img src="{{asset('images/logo/main_logo.png')}}" alt="bookflare"
                                width="200" height="200" data-retina="{{asset('images/logo/main_logo.png')}}"
                                data-width="157" data-height="29"></a>
                    </div>
                    <div class="nav-wrap flat-text-right style1">
                        <nav id="main-nav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="{{path('accueil')}}">Accueil <i class="fa fa-home"></i></a>

                                </li>
                                <li>
                                    <a href="{{path('myBooks')}}">Mes Livres <i class="fa fa-book"></i></a>

                                    <ul class="submenu">
                                        {% if app.user %}

                                        {% for collection in collections %}
                                        <li class="">
                                            <a href="{{path('myBooksByCollection', {'collection':collection})}}">{{collection}} </a>
                                        </li>
                                        {% endfor %}
                                       
                                        {% else %}
                                       
                                        {% endif %}

                                    </ul>

                                </li>
                                <li>
                                    <a href="{{path('contact')}}">Contact  <i class="fa fa-phone"></i></a>

                                </li>

                                <li class="float-right">
                                    <a href="#">Compte <i class="fa fa-cogs"></i></a>
                                    <ul class="submenu">
                                        {% if app.user %}
                                        <li class="">
                                            <a href="{{path('dashboard')}}">Ma bibliotheque <i class="fa fa-user"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{path('security_logout')}}">Deconnexion <i class="fa fa-sign-out"></i></a>
                                        </li>
                                        {% else %}
                                        <li class="">
                                            <a href="{{path('security_register')}}">Inscription <i class="fa fa-user"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{path('security_login')}}">Connexion <i class="fa fa-sign-out"></i></a>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>


                    <div class="mobile-button">
                        <span></span>
                    </div>
                </div>
            </div>
        </div> <!-- #header -->
        {% block body %}{% endblock %}



        <footer id="footer" class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 effect-animation" data-animation="fadeInUp" data-animation-delay="0.2"
                        data-animation-offset="75%">
                        <div class="widget-about">
                            <div id="logo-ft">
                                <a href="{{path('accueil')}}"><img src="{{asset('images/logo/main_logo.png')}}" alt="bookflare"
                                    width="200" height="200" data-retina="{{asset('images/logo/main_logo.png')}}"
                                    data-width="157" data-height="29"></a>
                            </div>
                            <p class="description">  
                                Sama-Collection est une application de gestion de collection de livres qui permet de virtualiser une bibliothéque physique et de simuler son fonctionnement.
                                Sama-Collection est developpée par un groupe d'étudiants dans le cadre d'un projet d'etude et en ces moments Sama-Collection est en phase Béta.
                                Sama-Collection permet de remedier aux pertes de vos livres suite à un pret en ayant plus trace de ce livre.
                            </p>
                            <div class="list-info">
                                <ul>
                                    <li class="address"><a href="#">Fann Hock ESP-DGI, Dakar, Senegal</a></li>
                                    <li class="phone"><a href="#">+221 77 828 54 15</a></li>
                                    <li class="mail"><a href="#">info@sama-collection.com</a></li>
                                </ul>
                            </div>
                            <div class="socails">
                                <ul class="list">
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                                    <li><a href="#"><span class="fa fa-facebook-official"></span></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 effect-animation" data-animation="fadeInUp" data-animation-delay="0.4s"
                        data-animation-offset="75%">
                        <div class="widget-link widget-ft">
                            <h6 class=" widget-title">Liens Utils</h6>
                            <div class="list-wrap clearfix">
                                <ul class="one-of-two">
                                    <li><a href="#">Inscription</a></li>
                                    <li><a href="#">Connexion</a></li>
                                    <li><a href="#">Mes Livres</a></li>
                                    <li><a href="#">Contact</a></li>
                                   
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 effect-animation" data-animation="fadeInUp" data-animation-delay="0.6s"
                    data-animation-offset="75%">
                        <div class="widget-subscribe flat-text-center">
                            <h4 class="widget-title ">Inscrivez vous à notre newsletter </h4>
                            <p class="text">Et soyez informés de nos dernières actualités et ameliorations </p>
                            <div class="wrap-form-subscribe">
                                <form action="" method="post">
                                    <input type="email" name="email" required placeholder="Entrez votre email" /><br>
                                    <button type="submit" class="btn-send flat-button v2">S'inscrire</button></form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </footer> <!-- #footer -->

        <div class="bottom bg-15222e">
            <div class="container">
                <div class="row">
                    <div class="  col-md-6">
                        <div class="copyright flat-text-left ">
                            <p>© ESP-DGI-DIC1 2020 <a href="{{path('accueil')}}">Sama-Collecion</a>. Projet Developpement Web.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- /.bottom -->

        <a id="scroll-top"></a>
    </div>


    <script src="{{asset('bookflare/javascript/jquery.min.js')}}"></script>
    <script src="{{asset('bookflare/javascript/parallax.js')}}"></script>
    <script src="{{asset('bookflare/javascript/owl.carousel.min.js')}}"></script>
    <script src="{{asset('bookflare/javascript/jquery-fancybox.js')}}"></script>
    <script src="{{asset('bookflare/javascript/imagesloaded.min.js')}}"></script>
    <script src="{{asset('bookflare/javascript/jquery-isotope.js')}}"></script>
    <script src="{{asset('bookflare/javascript/waypoints.min.js')}}"></script>
    <script src="{{asset('bookflare/javascript/jquery.easing.js')}}"></script>
    <script src="{{asset('bookflare/javascript/jquery.easing.js')}}"></script>
    <script src="{{asset('bookflare/javascript/smoothscroll.js')}}"></script>
    <script src="{{asset('bookflare/javascript/main.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/slider2.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.actions.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.carousel.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.migration.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.navigation.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.parallax.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
    <script src="{{asset('bookflare/revolution/js/extensions/revolution.extension.video.min.js')}}"></script>
    <script src="{{asset('dadmin/js/sweetalert.min.js')}}"></script>
    <script src="{{asset('dadmin/js/sweetalert-init.js')}}"></script>

    {% block javascripts %}{% endblock %}
</body>

</html>