.div-explications{
    margin-top: 3% !important;
}

.main-color{
    color: #e25914 #192836 #e16123 ;
    color: #e25914;
}
.apercu-service{
    text-align: center !important;
    margin: 0 auto !important;
   
}