.preview-image{
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
#preview-image{
    margin: 0 auto;
}
#bouton-submit{
    border: none !important;
    border-radius: 0% !important;
    padding: 1% !important;
    color: white;
}
.information{
    padding: 1% !important;
    border: none !important;
    border-radius: 0%;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
    background-color: #e25914 !important;
    color: white !important;
}