.formulaire-erreurs {
    color: #e25914 !important;
    font-size: 12px !important;
}

.custom-label {
    padding-left: 20% !important;
}

.formulaire-label {
    color: #e25914 !important;
    font-size: 15px !important;
    font-weight: lighter !important;
    text-align: left !important;
    margin-bottom: 10px !important;
}

.resume-commande {
    border-radius: 4px !important;
    overflow: hidden !important;
    background: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
}

.label-commande {
    color: #e25914 !important;
}

.content-label {
    color: white !important;
}

.cancel {
    padding: 0 27px;
    letter-spacing: 0.01em;
    display: inline-block;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins";
    border-radius: 0px;
    background: #e25914;
    color: #fff;
}

.cancel:hover, .label-commande-fichier:hover {
    background: #192836;
    color: white !important;
}

.paypal {
    background-color: #e25914 !important;
    color: white !important;
    padding: 2%;
    width: 5% !important;
    color: white !important;
}

/* Media query for mobile viewport */

@media screen and (max-width: 400px) {
    #paypal-button-container {
        width: 100%;
    }
}

/* Media query for desktop viewport */

@media screen and (min-width: 400px) {
    #paypal-button-container {
        width: 250px;
    }
}
.paypal-button-text, .paypal-button-tagline{
    color: white !important;
}