{% extends 'dashboard/base_admin.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('new_css/ajout_service.css')}}">
{% endblock %}

{% block body %} 

<!-- Page Header Start -->
<section class="page--header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <!-- Page Title Start -->
                <h2 class="page--title h5">Gestion de la bibliothéque

                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><span>UI Elements</span></li>
                        <li class="breadcrumb-item active"><span>Tabs &amp; Accordions</span></li>
                    </ul> -->
            </div>

            <div class="col-lg-6">
                <!-- Summary Widget Start -->
                <div class="summary--widget">
                    <div class="summary--item">
                        <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5"
                            data-height="38" data-color="#009378">2,9,7,9,11,9,7,5,7,7,9,11</p>

                        <p class="summary--title"></p>
                        <p class="summary--stats text-green"></p>
                    </div>

                    <div class="summary--item">
                        <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5"
                            data-height="38" data-color="#E54998">2,3,7,7,9,11,9,7,9,11,9,7</p>

                        <p class="summary--title"></p>
                        <p class="summary--stats text-orange"></p>
                    </div>
                </div>
                <!-- Summary Widget End -->
            </div>
        </div>
    </div>
    
</section>
<!-- Page Header End -->

<!-- Main Content Start -->
<section class="main--content container-fluid">
    <div class="row gutter-20">
        <div class="col-md-12 col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                  {% if not editMode %}
                    <h3 class="panel-title">Ajout de livre</h3>
                  {% else %}
                    <h3 class="panel-title">Mise à jour du livre</h3>
                  {% endif %}
                </div >

                <div class="panel-content">


                    <!-- Tabs Nav Start -->
                    <ul class="nav nav-tabs nav-tabs-line-top">
                        <li class="nav-item">
                            <a href="#tab10" data-toggle="tab" class="nav-link active">Informations du livre</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab14" data-toggle="tab" class="nav-link">Image</a>
                        </li>
                       
                    </ul>
                    <!-- Tabs Nav End -->

                    <!-- Tab Content Start -->
                    {{form_start(form)}}
                    <div class="tab-content">
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade show active" id="tab10">
                            <div class="panel">

                                <div class="panel-content">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>
                                                    <span class="label-text">Titre du livre</span>
                                                    {{form_row(form.titre, {'label': false,'attr':{'class':'form-control'}})}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>
                                                    <span class="label-text">Auteur du livre</span>
                                                    {{form_row(form.auteur, {'label': false,'attr':{'class':'form-control'}})}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>
                                                    <span class="label-text">Date d'édition</span>
                                                    {{form_row(form.date_edition, {'label': false,'attr':{'class':'form-control'}})}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label>
                                                    <span class="label-text">Collection du livre</span>
                                                    {{form_row(form.collection, {'label': false,'attr':{'class':'form-control'}})}}
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="label-text">Synopsis du livre</span>
                                                    {{form_row(form.synopsis|raw, {'label': false, 'attr':{'class':'form-control'}})}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->

                         
                        <div class="tab-pane fade" id="tab14">
                            <div class="panel">

                                <div class="panel-content">
                                    <div class="row">
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label>
                                                <span class="label-text">Image associée au livre</span>
                                                {{form_row(form.imageFile, {'label': false,'attr':{'class':'form-control'}})}}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="" id="preview-image-add-service">
                                        <img src="" width="600px" height="600px" id="avatar" alt="">
                                    </div>

                                </div>
                            </div>


                            <div class="form-group text-right">
                                {% if not editMode %}
                                    <button type="submit" class="btn bg-orange text-white " id="bouton-submit">Ajouter le livre <i class="fa fa-plus"></i> </button>
                                 {% else %}
                                    <button type="submit" class="btn bg-orange text-white " id="bouton-submit">Enregistrer <i class="fas fa-save"></i> </button>
                               {% endif %}
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                    {{form_end(form)}}
                  
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

{% block javascripts %}

    <script>
        var preview = document.getElementById('avatar')
var file_input = document.getElementById('user_profile_image')

let preview_ajout_service = document.getElementById('preview-image-add-service')

window.previewFile  = function (event)
{
    preview_ajout_service.classList.add('preview-image')
    let file = event.target
    
    let reader = new FileReader()

    reader.onload = function(){
        var dataURL = reader.result;
       
        preview.src = dataURL;
    }
    reader.readAsDataURL(file.files[0]);

 
}
    </script>


{% endblock %}

{% endblock %}

