<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sama-Collection - Une application de gestion de livres</title>
    <link rel="shortcut icon" href="{{asset('images/logo/main_logo.png')}}">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,500">

    <link rel="stylesheet" href="{{asset('dadmin/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/perfect-scrollbar.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/morris.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/select2.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/jquery-jvectormap.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/horizontal-timeline.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/weather-icons.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/dropzone.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/ion.rangeSlider.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/ion.rangeSlider.skinFlat.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/datatables.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/fullcalendar.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/sweetalert.min.css')}}">
    <link rel="stylesheet" href="{{asset('dadmin/css/sweetalert-overrides.css')}}">
    {% block stylesheets %}

    {% endblock %}
</head>

<body>

    <div class="wrapper">
        <!-- Navbar Start -->
        <header class="navbar navbar-fixed">
            <!-- Navbar Header Start -->
            <div class="navbar--header">
                <!-- Logo Start -->
                <a href="{{path('accueil')}}" class="mt-3"><img src="{{asset('images/logo/main_logo.png')}}" alt="Image"
                        width="200" height="200" data-retina="{{asset('images/logo/main_logo.png')}}" data-width="157"
                        data-height="29"></a>
                <!-- Logo End -->

                <!-- Sidebar Toggle Button Start -->
                <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- Sidebar Toggle Button End -->
            </div>
            <!-- Navbar Header End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Sidebar Toggle Button End -->

            <!-- Navbar Search Start -->
            <div class="navbar--search">
                <form action="search-results.html">
                    <input type="search" disabled name="search" class="form-control"
                        placeholder="Recherchez un livre..." required>
                    <button disabled class="btn-link disabled"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- Navbar Search End -->

            <div class="navbar--nav ml-auto">
                <ul class="nav">


                    <!-- Nav Language Start -->
                    <li class="nav-item dropdown nav-language">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="{{asset('dadmin/img/flags/fr.png')}}" alt="">
                            <span>Français</span>
                            <!-- <i class="fa fa-angle-down"></i> -->
                        </a>


                    </li>
                    <!-- Nav Language End -->

                    <!-- Nav User Start -->
                    <li class="nav-item dropdown nav--user online">
                        {% if user.photo %}
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="{{ asset('images/profil-image/' ~ user.image)}}" class="rounded-circle"
                                alt="image de profil">
                            <span>{{user.prenom}} {{user.nom}}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        {% else %}
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="{{ asset('images/profil-image/default-profil.png')}}" class="rounded-circle"
                                alt="image de profil">
                            <span>{{user.prenom}} {{user.nom}}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        {% endif %}


                        <ul class="dropdown-menu">

                            <li><a href="{{path('security_logout')}}"><i class="fa fa-power-off"></i>Deconnexion</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Nav User End -->
                </ul>
            </div>
        </header>
        <!-- Navbar End -->

        <!-- Sidebar Start -->
        <aside class="sidebar" data-trigger="scrollbar">
            <!-- Sidebar Profile Start -->
            <div class="sidebar--profile">
                <div class="profile--img">
                    <a href="#">
                        {% if user.photo %}
                        <img src="{{ asset('images/profil-image/' ~ user.image)}}" class="rounded-circle"
                            alt="image de profil">
                        {% else %}
                        <img src="{{asset('images/profil-image/default-profil.png')}}" class="rounded-circle"
                            alt="image de profil">
                        {% endif %}
                    </a>

                </div>

                <div class="profile--name">
                    <a href="#" class="btn-link">{{user.prenom}} {{user.nom}}</a>
                </div>

                <div class="profile--nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="Profil">
                                <i class="fa fa-user"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{path('security_logout')}}" class="nav-link" title="Deconnexion">
                                <i class="fa fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar Profile End -->

            <!-- Sidebar Navigation Start -->
            <div class="sidebar--nav">

                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-cogs"></i>
                            <span>Dashboard</span>
                        </a>
                        <ul>
                            <li class="active" >
                                <a href="{{path('dashboard')}}">
                                    <i class="fa fa-book"></i>
                                    <span>Ma bibliotheque</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('accueil')}}">
                                    <i class="fa fa-home"></i>
                                    <span>Accueil</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    

                   

                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Gestion des livres</span>
                        </a>
                        <ul>
                            <li>
                                <a href="{{path('books')}}">
                                    <i class="fa fa-list"></i>
                                    <span>Liste des livres</span>
                                </a>
                            </li>
                            <li>

                                <a href="{{path('listlandedbooks')}}">
                                    <i class="fa fa-list"></i>
                                   Liste des livres prêtés
                                </a>
                            </li>
                            <li>
                                <a href="{{path('addBook')}}">
                                    <i class="fa fa-plus"></i>
                                    <span>Ajouter un livre</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{path('books')}}">
                                    <i class="fa fa-trash"></i>
                                    <span> Supprimer un livre</span>
                                </a>

                            </li>

                            <li>

                                <a href="{{path('books')}}">
                                    <i class="fa fa-edit"></i>
                                    <span> Modifier un livre</span>
                                </a>
                            </li>

                            <li>

                                <a href="{{path('books')}}">
                                    <i class="fa fa-gift"></i>
                                    Preter un livre
                                </a>
                            </li>
                          

                            

                        </ul>


                    </li>





                </ul>

            </div>
        </aside>
        <main class="main--container">
            {% block body %}{% endblock %}
        </main>



    </div>
    <!-- Sidebar Navigation End -->



    <script src="{{asset('dadmin/js/jquery.min.js')}}"></script>
    <script src="{{asset('dadmin/js/jquery-ui.min.js')}}"></script>
    <script src="{{asset('dadmin/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('dadmin/js/perfect-scrollbar.min.js')}}"></script>
    <script src="{{asset('dadmin/js/jquery.sparkline.min.js')}}"></script>
    <script src="{{asset('dadmin/js/raphael.min.js')}}"></script>
    <script src="{{asset('dadmin/js/morris.min.js')}}"></script>
    <script src="{{asset('dadmin/js/select2.min.js')}}"></script>
    <script src="{{asset('dadmin/js/jquery-jvectormap.min.js')}}"></script>
    <script src="{{asset('dadmin/js/jquery-jvectormap-world-mill.min.js')}}"></script>
    <script src="{{asset('dadmin/js/horizontal-timeline.min.js')}}"></script>
    <script src="{{asset('dadmin/js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('dadmin/js/jquery.steps.min.js')}}"></script>
    <script src="{{asset('dadmin/js/dropzone.min.js')}}"></script>
    <script src="{{asset('dadmin/js/ion.rangeSlider.min.js')}}"></script>
    <script src="{{asset('dadmin/js/datatables.min.js')}}"></script>
    <script src="{{asset('dadmin/js/main.js')}}"></script>
    <script src="{{asset('dadmin/js/sweetalert.min.js')}}"></script>
    <script src="{{asset('dadmin/js/sweetalert-init.js')}}"></script>



    <script>
        var essai = document.getElementById('essai_new')
        essai.addEventListener('click', function (event) {
            event.preventDefault()
            console.log('Url : ' + this.href)
            console.log('Bouton')
        })
    </script>

    {% block javascripts %}
    {% endblock %}
</body>

</html>