{% extends "dashboard/base_admin.html" %}


{% block body %}


    <!-- Page Header Start -->
    <section class="page--header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Page Title Start -->
                    <h2 class="page--title h5">Ma Bibliotheque</h2>
                    <!-- Page Title End -->

                    <ul class="breadcrumb">
                        <!-- <li class="breadcrumb-item"><span>Ecommerce</span></li> -->
                        <li class="breadcrumb-item active"><span>Dashboard</span></li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <!-- Summary Widget Start -->
                    <div class="summary--widget">
                        <div class="summary--item">
                            <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5" data-height="38" data-color="#009378">2,9,7,9,11,9,7,5,7,7,9,11</p>

                            <p class="summary--title"></p>
                            <p class="summary--stats text-green"></p>
                        </div>

                        <div class="summary--item">
                            <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5" data-height="38" data-color="#e25914">2,3,7,7,9,11,9,7,9,11,9,7</p>

                            <p class="summary--title"></p>
                            <p class="summary--stats text-rouge-bordeau" ></p>
                        </div>
                    </div>
                    <!-- Summary Widget End -->
                </div>
            </div>
        </div>
    </section>
    <!-- Page Header End -->

    <!-- Main Content Start -->
    <section class="main--content">
        <div class="row gutter-20">
           

            <div class="col-md-6">
                <div class="panel">
                    <!-- Mini Stats Panel Start -->
                    <div class="miniStats--panel text-white bg-orange">
                        <div class="miniStats--header" data-overlay="0.1">
                            <p class="miniStats--chart" data-trigger="sparkline" data-type="bar" data-width="4" data-height="30" data-color="#fff">2,2,3,9,11,9,7,20,9,7,6,5,6,9,4,9,5,3,5,9,15,3</p>

                            <p class="miniStats--label text-green bg-white">
                                <i class="fa fa-level-up-alt"></i>
                                <!-- <span>10%</span> -->
                            </p>
                        </div>

                        <div class="miniStats--body">
                            <i class="miniStats--icon fa fa-rocket text-white"></i>

                            <!-- <p class="miniStats--caption">Monthly</p> -->
                            <h3 class="miniStats--title h4 text-white">Nombre de livres</h3>
                            <p class="miniStats--num">{{nombreLivres}}</p>
                        </div>
                    </div>
                    <!-- Mini Stats Panel End -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <!-- Mini Stats Panel Start -->
                    <div class="miniStats--panel text-white bg-blue">
                        <div class="miniStats--header" data-overlay="0.1">
                            <p class="miniStats--chart" data-trigger="sparkline" data-type="bar" data-width="4" data-height="30" data-color="#fff">2,2,3,9,11,9,7,20,9,7,6,5,6,9,4,9,5,3,5,9,15,3</p>

                            <p class="miniStats--label text-green bg-white">
                                <i class="fa fa-level-up-alt"></i>
                                <!-- <span>10%</span> -->
                            </p>
                        </div>

                        <div class="miniStats--body">
                            <i class="miniStats--icon fa fa-rocket text-white"></i>

                            <!-- <p class="miniStats--caption">Monthly</p> -->
                            <h3 class="miniStats--title h4 text-white">Livres en prêt</h3>
                            <p class="miniStats--num">{{nombreLivresPretes}}</p>
                        </div>
                    </div>
                    <!-- Mini Stats Panel End -->
                </div>
            </div>

           <!-- start graphics -->
           <!-- end of graphics -->

           <!-- start of last orders -->

                 <!-- Main Content Start -->
            <section class="main--content">
                <div class="panel">
                    <!-- Records Header Start -->
                    <div class="records--header">
                        <div class="title fa-shopping-bag">
                            <h3 class="h3">Derniers Livres ajoutés <a href="{{path('books')}}" class="btn btn-sm btn-outline-info">Voir toutes les livres</a></h3>
                            <p>Nombre de livres : {{nombreLivres}}</p>
                        </div>

                        {# <div class="actions">
                            <form action="#" class="search">
                                <input type="text" class="form-control" placeholder="Id de la commande ou Nom du client" required>
                                <button type="submit" class="btn btn-rounded"><i class="fa fa-search"></i></button>
                            </form>
                        </div> #}
                    </div>
                    <!-- Records Header End -->
                </div>

                <div class="panel">
                    <!-- Records List Start -->
                    <div class="records--list" data-title="Liste des livres">
                        <table id="recordsListView">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="not-sortable">Image</th>
                                    <th>Titre</th>
                                    <th>Auteur</th>
                                    <th>Date d'édition</th>
                                    <th>Disponibilité</th>
                                    <th>Collection</th>
            
            
            
                                    <th class="not-sortable">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                <tr>
                                    <td>
                                        <a href="#" class="btn-link">{{book.id}}</a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn-link">
                                            <img src="{{asset('images/livres/' ~ book.image)}}" width="80px"
                                                height="80px" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn-link">{{book.titre}}</a>
                                    </td>
                                 
                                    <td>{{book.auteur}}</td>
                                    <td>{{book.dateEdition | date('d/m/y')}}</td>
                                    <td>
                                        {% if book.disponible %}
                                            <span class="text-success">Disponible 😊 </span>
                                        {% else %}
                                            <span class="text-danger">En prêt 😒 </span>
                                        {% endif %}
                                    </td>
            
                                    <td>{{book.collection}}</td>
            
                                    <td>
                                        <div class="dropleft">
                                            <a href="#" class="btn-link" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
            
                                            <div class="dropdown-menu">
                                                <a href="{{path('editBook', {'id' : book.id})}}" class="dropdown-item">Modifier</a>
            
                                                <a href="" class="dropdown-item">Details</a>
                                                {% if book.disponible %}
                                                    <a href="#vCenteredModal3{{book.id}}" class="dropdown-item" data-toggle="modal">
                                                        Prêter le livre
                                                    </a>
                                                {% else %}
                                                    <a href="#vCenteredModal2{{book.id}}" class="dropdown-item" data-toggle="modal">
                                                        Mettre le livre à rendu
                                                    </a>
                                                {% endif %}
                                                <a href="#vCenteredModal{{book.id}}" class="dropdown-item" data-toggle="modal">Supprimer</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <div id="vCenteredModal{{book.id}}" class="modal fade">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Suppression du livre </h5>
                            
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                            
                                            <div class="modal-body">
                                                <p>Voulez-vous vraiment supprimer ce service ?</p>
                                            </div>
                            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                            
                                                <a href="{{path('deleteBook', {'id' : book.id})}}" class="btn btn-danger">Oui</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="vCenteredModal3{{book.id}}" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Prêt du livre</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>


                                            <form
                                                action="{{path('landBook', {'id':book.id})}}"
                                                method="post">
                                                <div class="modal-body pt-4">
                                                  

                                                    <div class="form-group">
                                                        <label for="prenom">
                                                            Prenom du béneficiaire du prêt
                                                        </label>
                                                        <input type="text" name="prenom" class="form-control" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="prenom">
                                                            Nom du béneficiaire du prêt
                                                        </label>
                                                        <input type="text" name="nom" class="form-control" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="prenom">
                                                            Date du prêt
                                                        </label>
                                                        <input type="date" name="datePret" class="form-control" >
                                                    </div>



                                                    <input type="submit" value="Prêter"
                                                        class="btn btn-sm btn-rounded btn-success">
                                                    <button type="button"
                                                        class="btn btn-sm btn-rounded btn-outline-secondary"
                                                        data-dismiss="modal">Annuler</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div id="vCenteredModal2{{book.id}}" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Mise de l'etat du livre à  rendu</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>



                                            <div class="modal-body pt-4">
                                                <p>Voulez mettre le statut du livre à rendu ? </p>



                                                <a href="{{path('livreRendu', {'id':book.id})}}"
                                                    class="btn btn-sm btn-rounded btn-outline-success">Oui</a>
                                                <button type="button"
                                                    class="btn btn-sm btn-rounded btn-outline-secondary"
                                                    data-dismiss="modal">Annuler</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
            
            
                            </tbody>
            
            
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </section>

           <!-- end of last orders -->
        </div>
    </section>


{% endblock %}

