{% extends "dashboard/base_admin.html" %}

{% block body %}
<!-- Main Content Start -->
<section class="main--content">
    <div class="panel">
        <!-- Records Header Start -->
        <div class="records--header">
            <div class="title fa-shopping-bag">
                <h3 class="h3">Liste des livres prêtés</h3>
                <p>
                    {% if nombreLivres == 0 %}
                    {{nombreLivres}} livre trouvé
                    {% else %}
                    {{nombreLivres}} livres trouvés
                    {% endif  %}
                </p>
            </div>

            <div class="actions">
               
                <a href="{{path('addBook')}}" class="addProduct btn btn-lg btn-rounded btn-warning">Ajouter
                    un livre <i class="fa fa-plus"></i></a>
            </div>
        </div>
        <!-- Records Header End -->
    </div>

    <div class="panel">
        <!-- Records List Start -->
        <div class="records--list" data-title="Liste des livres">
            <table id="recordsListView">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="not-sortable">Image</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Benificiaire du prêt</th>
                        <th>Date de prêt</th>
                        <th>Disponibilité</th>

                        <th class="not-sortable">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>
                            <a href="#" class="btn-link">{{book.id}}</a>
                        </td>
                        <td>
                            <a href="#" class="btn-link">
                                <img src="{{asset('images/livres/' ~ book.image)}}" width="80px"
                                    height="80px" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn-link">{{book.titre}}</a>
                        </td>
                     
                        <td>{{book.auteur}}</td>
                        <td>{{book.prenomBeneficiaire}} {{book.nomBeneficiaire}}</td>
                        <td>{{book.landingDate}}</td>

                        <td>
                            {% if book.disponible %}
                                <span class="text-success">Disponible 😊 </span>
                            {% else %}
                                <span class="text-danger">En prêt 😒 </span>
                            {% endif %}
                        </td>

                     

                        <td>
                            <div class="dropleft">
                                <a href="#" class="btn-link" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>

                                <div class="dropdown-menu">
                                    <a href="{{path('editBook', {'id' : book.id})}}" class="dropdown-item">Modifier</a>

                                    <a href="" class="dropdown-item">Details</a>
                                    {% if book.disponible %}
                                        <a href="#vCenteredModal3{{book.id}}" class="dropdown-item">Prêter le livre</a>
                                    {% else %}
                                        <a href="#vCenteredModal2{{book.id}}" class="dropdown-item">Mettre le livre à rendu</a>
                                    {% endif %}
                                    <a href="#vCenteredModal{{book.id}}" class="dropdown-item" data-toggle="modal">Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <div id="vCenteredModal{{book.id}}" class="modal fade">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Suppression du livre </h5>
                
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                
                                <div class="modal-body">
                                    <p>Voulez-vous vraiment supprimer ce service ?</p>
                                </div>
                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                
                                    <a href="{{path('deleteBook', {'id' : book.id})}}" class="btn btn-danger">Oui</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="vCenteredModal3{{book.id}}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Prêt de livre</h5>
                                    <button type="button" class="close"
                                        data-dismiss="modal">&times;</button>
                                </div>


                                <form
                                    action="{{path('landBook', {'id':book.id})}}"
                                    method="post">
                                    <div class="modal-body pt-4">
                                      

                                        <div class="form-group">
                                            <label for="prenom">
                                                Prenom du béneficiaire du prêt
                                            </label>
                                            <input type="text" name="prenom" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label for="prenom">
                                                Nom du béneficiaire du prêt
                                            </label>
                                            <input type="text" name="nom" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label for="prenom">
                                                Date du prêt
                                            </label>
                                            <input type="date" name="datePret" class="form-control" >
                                        </div>



                                        <input type="submit" value="Prêter"
                                            class="btn btn-sm btn-rounded btn-success">
                                        <button type="button"
                                            class="btn btn-sm btn-rounded btn-outline-secondary"
                                            data-dismiss="modal">Annuler</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="vCenteredModal2{{book.id}}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Mise de l'etat du livre à  rendu</h5>
                                    <button type="button" class="close"
                                        data-dismiss="modal">&times;</button>
                                </div>



                                <div class="modal-body pt-4">
                                    <p>Voulez mettre le statut du livre à rendu ? </p>



                                    <a href="{{path('livreRendu', {'id':book.id})}}"
                                        class="btn btn-sm btn-rounded btn-outline-success">Oui</a>
                                    <button type="button"
                                        class="btn btn-sm btn-rounded btn-outline-secondary"
                                        data-dismiss="modal">Annuler</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </tbody>


            </table>
        </div>
    </div>
    
</section>
{% endblock %}
